<div class="ui stackable inverted menu">
  <div class="item">
    <img src="/assets/images/tally.png" />
  </div>
  <a class="item">Home</a>
  <a class="blue item">Signup</a>
  <a class="item">Signin</a>
</div>
