<div class="ui centered grid">
  <div class="twelve wide column">
    <div class="ui cards"></div>
  </div>
</div>

<script>
  $.ajax({
    url: "/rest/vote/get/all",
    headers: { Authorization: token },
  }).then((response) => {
    console.log(response);

    if (!response.votes?.length) {
      const isLoggedIn = $(".create").length;
      $(".column").append(`
        <div class="ui message warning">
          <div class="header">
            Empty votes list
          </div>
          <p>No vote has been created so far. ${
            isLoggedIn
              ? "Please use  the create button"
              : "log in and be the first to create a vote"
          }</p>
        </div>`);
    } else {
      for (const vote of response.votes) {
        let options = "";
        for (const choice of vote.Choices) {
          options += `<span>${choice.name}</span>`;
        }
        const voteCard = `
      <div class="card" style="width: 370px;">
        <div class="content">
          <a class="header" href="/vote/${vote.id}">${vote.name}</a>
          <div class="meta option-${vote.id}">
            ${options}
          </div>
        </div>
      </div>
      `;
        $(".cards").append(voteCard);
      }
    }
  });
</script>
