<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/semantic-ui/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <title>Passport App</title>
  </head>

  <body>
    <%- include('./partials/navbar')%>
    <div class="container">
      <%- body %>
    </div>

    <script src="/assets/semantic-ui/dist/semantic.min.js"></script>
  </body>
</html>
