<div class="ui two column centered grid">
  <div class="six wide column">
    <form class="ui large form error">
      <div class="ui segment">
        <div class="field">
          <label for="">Email</label>
          <div class="ui left input">
            <input type="email" placeholder="joe@schmoe.com" class="email" />
          </div>
        </div>
        <div class="field">
          <label for="">Password</label>
          <div class="ui left input">
            <input type="password" placeholder="password" class="password" />
          </div>
        </div>
        <div class="ui error message messageDiv">
          <div class="header">Action Forbidden</div>
          <p class="messageHolder"></p>
        </div>
        <div class="ui fluid large primary button submit">Create</div>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".message").hide();
    $(".submit").click(async (ev) => {
      $(".submit").addClass("loading");
      const data = {
        email: $(".email")[0].value,
        password: $(".password")[0].value,
      };
      $.post("/rest/auth/login", data)
        .then((response) => {
          localStorage.token = response.token;
          $(location).attr("href", "/");
        })
        .catch((err) => {
          $(".message").show();
          $(".messageHolder").text(err.responseJSON.message);
          $(".submit").removeClass("loading");
        });
    });
  });
</script>
