<div class="ui centered grid">
  <div class="twelve wide column">
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Poll name</div>
          <div class="meta">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
